*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #777;
}

h5{
  font-size : 24px;
  color: #777;
}

#team .card{
  position: relative;
  margin: 10px;
  border-radius: 0;
  border:none;
  box-shadow: 5px 5px 15px #000000;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
}

#team .card:hover{
  color: #fff;
  border-radius: 5px;
  border:none;
  box-shadow: 5px 5px 10px #000000;
  cursor: pointer;
}

#team .card a{
  color: #FFFFFF;
  font-size: calc(30% + 1vw + 1vh);
  position: absolute;
  top: 70%;
}

.inner{
  overflow: hidden;
  flex-grow: 1;
  object-fit: contain;
}

#team .card img{
  transition: all 1.5s ease;
  width: 100%;
  height: 30vw;
  object-fit: cover;
  filter: brightness(40%);
}

#team .card:hover img{
  transform: scale(1.1);
  filter: brightness(30%);
}

#team .card:hover .b1{
  color: #000000;
  background-color: #FFFFFF;
  font-weight: bold;
}

#team .card:hover a{
  opacity:0;
}

.b1{
  font-size: 1rem;
  color: #FFFFFF;
  border: #FFFFFF 3px solid;
  background-color: inherit;
  padding: inherit;
}
.center {
  position: absolute;
  top: 30%;
  width: 100%;
  text-align: center;
}
.b2{
  font-size: 1rem;
  color: #FFFFFF;
  border: #FFFFFF 3px solid;
  background-color: inherit;
  padding: inherit;
  opacity:0;
}

#team .card:hover .b2{
  opacity:1;
}

#carouselExampleControls{
  height: 400px;
  width: 80%;
  justify-content: center;
}

#carouselExampleControls .carousel-inner img{
  opacity: 0.4;
  height: 400px;
  width: 80%;
}

.c2{
  color: #000000;
  font-weight: bold;
  position:absolute;
  top: 40%;
}
